<div class="controls-view">
  <select class="kit-select">
    <option value="rock">Rock Kit</option>
    <option value="hiphop">Hip-hop Kit</option>
    <option value="insane">Insane Kit</option>
  </select>
</div>
